<div class="row justify-content-center">
  <div class="col-6">
    <table class='table table-bordered table-striped'>
      <thead class="thead-dark">
        <tr><h5>Solicitudes por Comuna</h5></tr>
        <tr>
          <th>Comuna</th>
          <th>Tickets</th>
          <th>Grafico</th>
        </tr>
      </thead>
      <% @tick.each do |k, value| %>
        <tr>
          <th><%= k %></th>
          <td><%= value %></td>
          <td><%= @graphs[k].pill %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-8">
    <table class='table table-bordered table-striped'>
      <tr><h5>Top5: Tickets por comuna</h5></tr>
        <thead class="thead-dark">
          <tr>
            <th>COMUNA</th>
            <th>TICKETS</th>
          </tr>
        </thead>
        <% @top5_commune.each do |k, value| %>
        <tr>
          <th><%= k %></th>
          <td><%= value %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<h5> Top5: Tickets que más tardaron en cerrarse </h5>
<div>
  <table class="table table-sm col-md-10">
    <thead class="thead-dark">
      <th>ID</th>
      <th>Category</th>
      <th>Open Date</th>
      <th>Close Date</th>
      <th>Commune</th>
      <th></th>
    </thead>
    <tbody>
      <% @long5.each do |ticket| %>
        <tr>
          <td><%= ticket.id %></td>
          <td><%= ticket.category %></td>
          <td><%= ticket.open_date %></td>
          <td><%= ticket.close_date %></td>
          <td><%= ticket.commune %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="row justify-content-center">
  <div class="col-10">
    <table class='table table-bordered table-striped'>
      <tr><h5>Top5: Categorias con mas Tickets</h5></tr>
      <thead class="thead-dark">
        <tr>
          <th>Category</th>
          <th>Tickets</th>
        </tr>
      </thead>
        <% @top5_category.each do |k, value| %>
        <tr>
          <th><%= k %></th>
          <td><%= value %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-6">
    <table class='table table-bordered table-striped'>
        <tr><h5>Porcentajes Tickets por Dia</h5></tr>
        <thead class="thead-dark">
          <tr>
            <th>Day</th>
            <th>Tickets</th>
            <th>Grafico</th>
          </tr>
        </thead>
      <% days_of_week.each do |k| %>
        <tr>
          <th><%= k %></th>
          <td><%= @days[k] %></td>
          <td><%= @graphs2[k].pill %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-10">
    <table class='table table-bordered table-striped'>
        <tr><h5>Porcentajes por Categor&iacute;a</h5></tr>
        <thead class="thead-dark">
          <tr>
            <th>Categor&iacute;a</th>
            <th>Utilizaci&oacute;n</th>
          </tr>
        </thead>
        <% @category_percentage.each do |key,val| %>
        <tr>
          <td><%= key %></td>
          <td><%= val %>%</td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-6">
    <table class='table table-bordered table-striped'>
        <tr><h5>Porcentajes por Canal</h5></tr>
        <thead class="thead-dark">
          <tr>
            <th>Canal</th>
            <th>Utilizaci&oacute;n</th>
          </tr>
        </thead>
        <% @channel_percentage.each do |key,val| %>
        <tr>
          <th><%= key %></th>
          <td><%= val %>%</td>
        </tr>
      <% end %>
    </table>
  </div>
</div>


  <div class="row justify-content-center">
    <div class="col-6">
      <table class='table table-bordered table-striped'>
      <tr><h5>Top5: Comunas con peor tiempo de resolución</h5></tr>
        <thead class="thead-dark">
          <tr>
            <th>COMUNA</th>
            <th>PROMEDIO DE DIAS</th>
          </tr>
        </thead>
          <% @top5_worst_resolution.each do |key,val| %>
            <tr>
            <td><%= val %></td>
            <td><%= key %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
<p><a class="btn btn-primary btn-lg btn-block" href='#top'>Back to Top</a></p>